<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<div class="container">
  <h1> Une erreur est survenue</h1>
  <p>Veuillez réessayer plus tard.</p>
</div>

<%- include('../partials/footer') %>